Repository ajitpratap0/mcp-sdk-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, golangci-lint, transport-interface-check, jsonrpc-check

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  golangci-lint: any of: \.go$
  transport-interface-check: any of: ^pkg/transport/.*\.go$
  jsonrpc-check: any of: ^pkg/(protocol|transport)/.*\.go$

chore: update pre-commit config and add transport-specific checks
  .devcontainer/docker-compose.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/release.yml
  .golangci.yml
  .goreleaser.yml
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  README.md
  go_doc.md
  pkg/transport/stdio_test.go
  pkg/transport/streamable_http.go
  test_mcp_client_server.sh
Due: go-fmt, go-imports, golangci-lint, transport-interface-check, jsonrpc-check

chore: update golangci-lint config and improve CI workflow robustness
  .github/workflows/ci.yml
  .golangci.yml
Due: none

ci: improve golangci-lint setup with manual installation and explicit dependency handling
  .github/workflows/ci.yml
  .golangci.yml
  go.mod
Due: none

ci: add explicit test dependency setup and testify version pinning
  .github/workflows/ci.yml
Due: none

docs: add badges, enhance contributing guidelines and development setup documentation
  .devcontainer/README.md
  CHECKS.md
  CONTRIBUTING.md
  README.md
Due: none

stdio-based-communication example troubleshooting and fixes
  examples/simple-client/main.go
  pkg/server/server.go
  pkg/transport/stdio.go
  pkg/transport/transport.go
Due: go-fmt, go-imports, golangci-lint, transport-interface-check, jsonrpc-check

chore: add codecov configuration with 70% coverage target and ignore patterns
  codecov.yml
Due: none

fix: ensure consistent string type for request IDs in stdio transport
  README.md
  pkg/transport/stdio.go
Due: go-fmt, go-imports, golangci-lint, transport-interface-check, jsonrpc-check

refactor: improve stdio transport test with better goroutine management and error handling
  pkg/transport/stdio_test.go
Due: go-fmt, go-imports, golangci-lint, transport-interface-check, jsonrpc-check

test: add request registration synchronization to prevent race conditions in stdio transport tests
  pkg/transport/stdio_test.go
Due: go-fmt, go-imports, golangci-lint, transport-interface-check, jsonrpc-check

test: improve stdio transport test stability with longer timeouts and better synchronization
  pkg/transport/stdio_test.go
Due: go-fmt, go-imports, golangci-lint, transport-interface-check, jsonrpc-check

docs: add Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

Troubleshooting logs and script to test stdio client-server communication
  examples/simple-server/main.go
  pkg/client/client.go
  pkg/transport/stdio.go
  pkg/transport/transport.go
  test_stdio_client_server.sh
  test_stdio_client_server_pipe_old.sh
Due: go-fmt, go-imports, golangci-lint, transport-interface-check, jsonrpc-check

Written a Go script to test stdio communication between client and server using simple-client and simple-server
  examples/stdio-test.go
  test_stdio_client_server_pipe_old.sh
Due: go-fmt, go-imports, golangci-lint

feat: implement streamable HTTP client and server with session management, SSE support, and enhanced logging
  README.md
  pkg/server/server.go
  pkg/server/server_test.go
Due: go-fmt, go-imports, golangci-lint

test: complete server package testing - achieve 85.4% coverage target
  .gitignore
  .vscode/settings.json
  pkg/client/client_test.go
  pkg/server/http_handler.go
  pkg/server/http_handler_test.go
  pkg/server/panic_test.go
  pkg/server/providers.go
  pkg/server/providers_test.go
  pkg/server/server_test.go
  pkg/transport/stdio.go
  pkg/transport/transport.go
Due: go-fmt, go-imports, golangci-lint, transport-interface-check, jsonrpc-check

test: improve transport package testing and fix critical issues
  CLAUDE.md
  PLAN.md
  SERVER_ANALYSIS.md
  STREAMABLE_HTTP_ANALYSIS.md
  coverage.html
  pkg/transport/http.go
  pkg/transport/http_test.go
  pkg/transport/streamable_http.go
  pkg/transport/streamable_http_test.go
  pkg/transport/test_coverage_analysis.md
  pkg/transport/test_coverage_summary.md
  pkg/transport/test_helpers.go
  pkg/transport/test_implementation_plan.md
  typescript-sdk-analysis.md
Due: go-fmt, go-imports, golangci-lint, transport-interface-check, jsonrpc-check

fix: add comprehensive mutex protection to eliminate race conditions in server providers
  pkg/server/http_handler.go
  pkg/server/providers.go
  pkg/server/providers_race_test.go
Due: go-fmt, go-imports, golangci-lint

fix: eliminate race conditions in StreamableHTTPTransport
  PLAN.md
  pkg/transport/streamable_http.go
Due: go-fmt, go-imports, golangci-lint, transport-interface-check, jsonrpc-check

feat: implement request cancellation for MCP server
  go.mod
  pkg/client/client.go
  pkg/client/client_test.go
  pkg/client/goroutine_leak_test.go
  pkg/client/pagination.go
  pkg/client/streaming.go
  pkg/errors/codes.go
  pkg/errors/conversion.go
  pkg/errors/errors_test.go
  pkg/errors/mcp.go
  pkg/errors/transport.go
  pkg/errors/types.go
  pkg/errors/validation.go
  pkg/logging/adapter.go
  pkg/logging/formatter.go
  pkg/logging/logger.go
  pkg/logging/logger_test.go
  pkg/logging/middleware.go
  pkg/server/cancellation_doc.md
  pkg/server/cancellation_test.go
  pkg/server/goroutine_leak_test.go
  pkg/server/providers.go
  pkg/server/server.go
  pkg/server/server_test.go
  pkg/transport/goroutine_leak_test.go
  pkg/transport/http.go
  pkg/transport/stdio.go
  pkg/transport/streamable_http.go
  pkg/transport/transport.go
  pkg/utils/goroutine.go
  pkg/utils/goroutine_test.go
Due: go-fmt, go-imports, golangci-lint, transport-interface-check, jsonrpc-check

feat: implement resource subscriptions for MCP server
  .gitignore
  CLAUDE.md
  PLAN.md
  SERVER_ANALYSIS.md
  STREAMABLE_HTTP_ANALYSIS.md
  examples/resource-subscriptions/main.go
  pkg/server/server.go
  pkg/server/subscriptions.go
  pkg/server/subscriptions_doc.md
  pkg/server/subscriptions_test.go
  pkg/transport/test_coverage_analysis.md
  pkg/transport/test_coverage_summary.md
  pkg/transport/test_implementation_plan.md
  typescript-sdk-analysis.md
Due: go-fmt, go-imports, golangci-lint
